$trezor-connect-bg: rgb(89, 152, 59);
$trezor-connect-bg-error: #d9534f;

#edit-trezor-connect {
  #trezorconnect-wrapper {
  }

  #trezorconnect-button {
  }

  #trezorconnect-button:hover {
  }

  #trezorconnect-infolink {
  }

  #trezorconnect-infolink:hover {
  }

  .trezor-connect-message {
    color: white;
    background: $trezor-connect-bg;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 6px;
  }

  .trezor-connect-message-error {
    background: $trezor-connect-bg-error;
  }
}
